Playbooks/Get-MerakiData-OrgSecurityEvents/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This playbook will get data from the Meraki Cloud Dashboard API, specifically OrgSecurityEvents. You must first create an API key in the portal before you deploy this LogicApp.",
        "author": "Rich Lilly"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Get-MerakiData-OrgSecurityEvents",
            "type": "string",
            "metadata": {
                "description": "Name of the playbook to be deployed"
            }
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "Meraki_APIKey": {
            "type": "string",
            "metadata": {
                "description": "API Key to be used to authenticate to Meraki service"
            }
        },
        "Meraki_OrgId": {
            "type": "string",
            "metadata": {
                "description": "OrgId to be used"
            }
        },
        "LogADisplayName": {
            "defaultValue": "MerakiSecurityEvents",
            "type": "string"
        }
    },
    "variables": {
        "AzureLogAnalyticsDataCollectorConnectionName": "[concat('azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureLogAnalyticsDataCollectorConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('LogADisplayName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureLogAnalyticsDataCollectorConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "HTTP": {
                            "inputs": {
                                "headers": {
                                    "X-Cisco-Meraki-API-Key": "@variables('API Key')"
                                },
                                "method": "GET",
                                "uri": "https://api.meraki.com/api/v0/organizations/@{variables('OrgId')}/securityEvents?timespan=@{variables('Timespan')}"
                            },
                            "runAfter": {
                                "Initialize_variable_-_Timespan": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "HTTP_2": {
                            "inputs": {
                                "headers": {
                                    "X-Cisco-Meraki-API-Key": "@variables('API Key')"
                                },
                                "method": "GET",
                                "uri": "@body('Parse_JSON')?['Location']"
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Initialize_variable_-_API_Key": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "API Key",
                                        "type": "string",
                                        "value": "a37b01d05600e9dd0e74eab339f7e6acd0d2ecf6"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_-_OrgId": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OrgId",
                                        "type": "string",
                                        "value": "741624"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_API_Key": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_-_Timespan": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Timespan",
                                        "type": "integer",
                                        "value": 60
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_-_OrgId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@outputs('HTTP')['headers']",
                                "schema": {
                                    "properties": {
                                        "Cache-Control": {
                                            "type": "string"
                                        },
                                        "Connection": {
                                            "type": "string"
                                        },
                                        "Content-Length": {
                                            "type": "string"
                                        },
                                        "Content-Type": {
                                            "type": "string"
                                        },
                                        "Date": {
                                            "type": "string"
                                        },
                                        "Deprecation": {
                                            "type": "string"
                                        },
                                        "Expires": {
                                            "type": "string"
                                        },
                                        "Link": {
                                            "type": "string"
                                        },
                                        "Location": {
                                            "type": "string"
                                        },
                                        "Pragma": {
                                            "type": "string"
                                        },
                                        "Server": {
                                            "type": "string"
                                        },
                                        "Sunset": {
                                            "type": "string"
                                        },
                                        "Transfer-Encoding": {
                                            "type": "string"
                                        },
                                        "X-Frame-Options": {
                                            "type": "string"
                                        },
                                        "X-Request-Id": {
                                            "type": "string"
                                        },
                                        "X-Robots-Tag": {
                                            "type": "string"
                                        },
                                        "X-Runtime": {
                                            "type": "string"
                                        },
                                        "X-UA-Compatible": {
                                            "type": "string"
                                        },
                                        "X-XSS-Protection": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Parse_JSON_2": {
                            "inputs": {
                                "content": "@body('HTTP_2')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "blocked": {
                                                "type": "string"
                                            },
                                            "classification": {
                                                "type": "string"
                                            },
                                            "clientMac": {
                                                "type": "string"
                                            },
                                            "destIp": {
                                                "type": "string"
                                            },
                                            "deviceMac": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "priority": {
                                                "type": "string"
                                            },
                                            "protocol": {
                                                "type": "string"
                                            },
                                            "ruleId": {
                                                "type": "string"
                                            },
                                            "sigSource": {
                                                "type": "string"
                                            },
                                            "signature": {
                                                "type": "string"
                                            },
                                            "srcIp": {
                                                "type": "string"
                                            },
                                            "ts": {
                                                "type": "number"
                                            }
                                        },
                                        "required": [
                                            "ts",
                                            "deviceMac",
                                            "clientMac",
                                            "srcIp",
                                            "destIp",
                                            "protocol",
                                            "priority",
                                            "classification",
                                            "blocked",
                                            "message",
                                            "signature",
                                            "sigSource",
                                            "ruleId"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "runAfter": {
                                "HTTP_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Send_Data": {
                            "inputs": {
                                "body": "@{body('Parse_JSON_2')}",
                                "headers": {
                                    "Log-Type": "MerakiSecurityEvents"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/logs"
                            },
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1,
                                "startTime": "2021-01-19T00:00:00Z"
                            },
                            "type": "Recurrence"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureLogAnalyticsDataCollectorConnectionName'))]",
                                "connectionName": "[variables('AzureLogAnalyticsDataCollectorConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}